body {
    font-family: sans-serif;
}
.link-header{
    border: solid  2px blue ;
    padding: 3px;
    background-color: rgb(206, 178, 235);
    text-decoration: none;
}
header{
    background-color: rgb(183, 183, 228);
    padding: 20px;
}
main{
  color: rgb(59, 59, 221);
   background-color: rgb(219, 203, 235);
}
footer{
    margin-top: 75px;
    background-color: rgb(219, 203, 235);
}

